/Лекция 1. Погружение в Python. Основы Python.pdf
/Лекция 2. Методичка. Погружение в Python. Простые типы данных.pdf
/Лекция 3. Погружение в Python. Коллекции.pdf
/Лекция 4. Погружение в Python. Функции.pdf